#main-heading {
    background-image: url(wa2.jpg);
    background-size: cover;
    padding: 50px;
    text-align: center;
}
#button1 {
    background-color: black;
    color: blanchedalmond;
    padding: 1px 10px;
    border-radius: 40px;
}
#second {
    background-color: orangered;
    text-align: center;
    padding: 60px;
}
.button2 {
    background-color: black;
    color: blanchedalmond;
    padding: 5px;
    border-radius: 40px;
}
#icon {
    text-align: center;
    margin: 10px;
    font-size: small;
    padding: 20px 1px;
}
#free {
    padding: 60px;
    background-color: rgb(92, 114, 114);
    text-align: center;
}
#free1 {
    color: gold;
}
#button3 {
    background-color: black;
    color: blanchedalmond;
}
